<div class="body">
  <div>
    <h1 class="title">layoutPractice</h1>
  </div>

  <div class="practice-area">
    <div class="sample1">
      <table>
        <tr>
          <td class="iconImgTd">
            <img class="iconImg" [src]="imgSrc">
          </td>
          <td class="titleTd">
            <div class="practice-title">
              (01-Table){{title}}
            </div>
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <div class="practice-content">
              {{content}}
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="sample2">
      <div class="img-and-title">
        <img class="iconImg" [src]="imgSrc">
        <div class="practice-title">
          (01-Table){{title}}
        </div>
      </div>

      <div class="practice-content">
        {{content}}
      </div>


    </div>
  </div>
</div>