@import '../style/project-common.scss';

.input-file-area {
    position: relative;
    // display: flex;
    left: 10%;
    top: 35%;
    width: 100%;
    height: 30%;
    // align-items: center;
    // justify-content: center;
}