@import '../style/project-common.scss';

.leftTextArea {
    position: absolute;
    top: 20%; 
    left: 10%;
    height: 60%; 
    width: 30%;
    background-color: rgb(251, 238, 239);
}

.rightTextArea {
    position: absolute;
    top: 20%; 
    right: 10%;
    height: 60%; 
    width: 30%;
    background-color: rgb(235, 235, 255);
}

textarea {
    border: black 2px solid;
    font-size: 15px;
}

.selectType {
    position: relative;
    top:35%; 
    left: 45%;
    height: 5%;
    width: 10%;
    text-align: center;
}

.selectSort {
    position: relative;
    top:50%; 
    left: 35%;
    height: 5%;
    width: 10%;
}

select {
    
    text-align: center;
    text-align-last: center;
    font-size: 15px;
    border: black 2px solid;
    background-color: rgb(233, 255, 233);

    option {
        text-align: left;
    }
    
}
 

// .submitBtn {
//     position: absolute;
//     top: 50%; 
//     left: 45%;
//     height: 5%;
//     width: 10%;
//     font-size: 15px;
//     border: blue 2px solid;
// }

// .submitBtn:hover{
//     border: black 2px solid;
//     background-color:rgb(139, 139, 255);
//     color: white;
    
// }