@import '../style/project-common.scss';

.body{
    display: flex;
    flex-direction: column;
}
.upper{
    flex:none;
    .title{
        position: relative;
    }
}
.main-content{
    flex:1;
    display: flex;
    padding:15px 5% 50px 5%;
    
    .text-input{
        border: black 2px solid;
        font-size: 15px;
        height: 100%;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 10px;
        background-color: rgb(251, 238, 239);
    }

    .left-input {
        background-color: rgb(251, 238, 239);
    }
    .left-division{
        flex:5;
        .text-input{}
    }
    .middle-division{
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10%;
    }

    .right-input {
        background-color: #ebebff;
    }
    .right-division{
        flex:5;
        .text-input{}
    }
}


.selectType,.selectSort {
    position: relative;
    width: 200%;
    height: 10%;
    text-align: left;
    text-align-last: center;
    font-size: 15px;
    border: black 2px solid;
    background-color: rgb(233, 255, 233);
    &+&{
        margin-top: 100px;
    }
}


 

// .submitBtn {
//     position: absolute;
//     top: 50%; 
//     left: 45%;
//     height: 5%;
//     width: 10%;
//     font-size: 15px;
//     border: blue 2px solid;
// }

// .submitBtn:hover{
//     border: black 2px solid;
//     background-color:rgb(139, 139, 255);
//     color: white;
    
// }