@import '../style/project-common.scss';

.custmerDetailList {
    display: block;
    position: relative;
    top: 30%;
    width:74%;
    left: 13%;
 

    
    
    tr {
        position: relative;
        display: inherit;
        width: auto;
        right: 0;
    }
}

.btnArea {
    display: inline-flex;
    position: absolute;
    top: 10%;
    width: 90%;
    justify-content: space-around;

    
}

table, td, th
{
    border:1px solid black;
}