<div class="body">

  <h1 class="title">{{title}}</h1>
  <div class="btnArea">
    <div>
      <button (click)="addEmptyCustomerDetail()">+</button>
      <p>add empty customerDetail</p>
    </div>
    <div>
      <button (click)="addDefaultCustomerDetail()">+</button>
      <p>add default customerDetail</p>
    </div>
    <div>
      <button (click)="clearCustomerDetailList()">-</button>
      <p>clear</p>
    </div>
  </div>


  <table class="custmerDetailList">
    <tr>
      <th>DeepClone</th>
      <th>DirtyClone</th>
      <th>cloneObj = tarObj</th>
      <th>Name(string)</th>
      <th>Address(string)</th>
      <th>Gender(string)</th>
      <th>telList(Array&lt;Object&gt;)</th>
    </tr>

    <tr *ngFor="let customerDetail of customerDetailList" [ngStyle]="{'background-color': customerDetail.color}">
      <th><button (click)="deepCloneCustomerDetail(customerDetail)">+</button></th>
      <th><button (click)="dirtyCloneCustomerDetail(customerDetail)">+</button></th>
      <th><button (click)="cloneCustomerDetail(customerDetail)">+</button></th>
      <th><input type="text" [(ngModel)]="customerDetail.name"></th>
      <th><input type="text" [(ngModel)]="customerDetail.address"></th>
      <th><input type="text" [(ngModel)]="customerDetail.gender"></th>
      <th>
        <ng-container *ngFor="let tel of customerDetail.telList">
          Name:<input type="text" [(ngModel)]="tel.name">Tel:<input type="text" [(ngModel)]="tel.tel">
          
        </ng-container>
      </th>
    </tr>


  </table>
</div>


